dist
.ts-build
*.tsbuildinfo
.packaged
.resources
**/.env
**/node_modules
NOTES.md
.docker-test
options.dev.json
coverage

# Yarn (PnP / zero-installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
